<!DOCTYPE html>
<html>

<head>
    <title>数据可视化</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap-table/bootstrap-table.css">
    <style type="text/css">
        body{
            margin:20 auto;
        }
        div.main{
            width:95%;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="main">
        <div style="padding-top:8px;margin-bottom:-20px">
            <button id="clear" class="btn btn-danger">
                Clear
            </button>
            <button class="btn btn-primary btn-filter" data-key="all" id="all">All</button>
            <button class="btn btn-primary btn-filter" data-key="python" id="python">Python</button>
            <button class="btn btn-primary btn-filter" data-key="java">Java</button>
            <button class="btn btn-primary btn-filter" data-key="python3">Python3</button>
            <button class="btn btn-primary btn-filter" data-key="python爬虫">Crawl</button>
            <button class="btn btn-primary btn-filter" data-key="r爬虫">R</button>
        </div>
        <table class="table table-hover" data-pagination="true" data-page-size="15" data-search="true" data-toggle="table">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="title"  data-formatter="formatter">标题</th>
                    <th data-field="author">发布人</th>
                    <th data-field="publish_time" data-sortable="true">发布时间</th>
                    <th data-field="response_num" data-sortable="true">回复数</th>
                    <th data-field="last_reply" data-sortable="true">最后回复时间</th>
                    <th data-field="keyword">关键字</th>
                    <th data-field="create_time" data-sortable="true"> 采集时间</th>
                    <th data-field="update_time" data-sortable="true">更新时间</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="static/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript">
        $(function(){
            $("button.btn-filter").click(function(){
                var keyword = $(this).data("key");
                $.ajax({
                    url:"/topic?keyword=" + keyword,
                    method:"GET",
                    contentType:"application/json",
                    success: function(res){
                        $("table").bootstrapTable("destroy");
                        $("table").bootstrapTable({"data": res});
                    }
                })
            })
            $("#python").trigger("click");
            $("#clear").click(function(){
                $.ajax({
                    url:"/clear",
                    type:"GET",
                    contentType: "application/json",
                    success: function(){
                        location.reload();
                    }
                })
            })
        });
        function formatter(value, row) {
            value = $.trim(value);
            return '<a href="'  + row.url + '" target="_blank">' + value + '</a>';
        }
    </script>
</body>
</html>